/*!
 * Generated with CSS Flag Sprite generator (https://www.sprites.com/)
 */

.iti-flag::focus {
	outline:none;
}
.iti-flag {
  width: 32px;
  height: 32px;
  background: url('../images/flagsall.png') no-repeat;
  //box-shadow: 0px 0px 1px 0px #888;
  background-repeat: no-repeat;
  //background-color: #DBDBDB;
  background-position: 20px 0; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .iti-flag {
      background-image: url("../images/flags@2x.png"); } }


.iti-flag.wf {
    background-position: -288px -448px;
}

.iti-flag.ye {
    background-position: -352px -448px;
}

.iti-flag.tz {
    background-position: -384px -416px;
}

.iti-flag.mp {
    background-position: -480px -256px;
}

.iti-flag.sb {
    background-position: -352px -352px;
}

.iti-flag.cn {
    background-position: -384px -64px;
}

.iti-flag.do {
    background-position: -256px -96px;
}

.iti-flag.sz {
    background-position: -384px -384px;
}

.iti-flag.jp {
    background-position: -384px -192px;
}

.iti-flag.th {
    background-position: -32px -416px;
}

.iti-flag.br {
    background-position: -416px -32px;
}

.iti-flag.sa {
    background-position: -320px -352px;
}

.iti-flag.mt {
    background-position: -96px -288px;
}

.iti-flag.us {
    background-position: -480px -416px;
}

.iti-flag.qa {
    background-position: -128px -352px;
}

.iti-flag.sl {
    background-position: -96px -384px;
}

.iti-flag.ec {
    background-position: -320px -96px;
}

.iti-flag.py {
    background-position: -96px -352px;
}

.iti-flag.si {
    background-position: -32px -384px;
}

.iti-flag.tn {
    background-position: -192px -416px;
}

.iti-flag.cz {
    background-position: -96px -96px;
}

.iti-flag.to {
    background-position: -224px -416px;
}

.iti-flag.ke {
    background-position: -416px -192px;
}

.iti-flag.fr {
    background-position: -224px -128px;
}

.iti-flag.gt {
    background-position: -192px -160px;
}

.iti-flag.vg {
    background-position: -160px -448px;
}

.iti-flag.bm {
    background-position: -320px -32px;
}

.iti-flag.et {
    background-position: 0 -128px;
}

.iti-flag.fi {
    background-position: -64px -128px;
}

.iti-flag.mx {
    background-position: -224px -288px;
}

.iti-flag.im {
    background-position: -96px -192px;
}

.iti-flag.vc {
    background-position: -96px -448px;
}

.iti-flag.gy {
    background-position: -288px -160px;
}

.iti-flag.ne {
    background-position: -384px -288px;
}

.iti-flag.pf {
    background-position: -288px -320px;
}

.iti-flag.at {
    background-position: -352px 0;
}

.iti-flag.lu {
    background-position: 0 -256px;
}

.iti-flag.kn {
    background-position: -64px -224px;
}

.iti-flag.dm {
    background-position: -224px -96px;
}

.iti-flag.om {
    background-position: -192px -320px;
}

.iti-flag.tw {
    background-position: -352px -416px;
}

.iti-flag.rw {
    background-position: -288px -352px;
}

.iti-flag.sc {
    background-position: -384px -352px;
}

.iti-flag.cr {
    background-position: -448px -64px;
}

.iti-flag.pn {
    background-position: -448px -320px;
}

.iti-flag.dz {
    background-position: -288px -96px;
}

.iti-flag.ir {
    background-position: -192px -192px;
}

.iti-flag.eu {
    background-position: -32px -128px;
}

.iti-flag.tc {
    background-position: -416px -384px;
}

.iti-flag.bf {
    background-position: -128px -32px;
}

.iti-flag.be {
    background-position: -96px -32px;
}

.iti-flag.pk {
    background-position: -384px -320px;
}

.iti-flag.ge {
    background-position: -352px -128px;
}

.iti-flag.ee {
    background-position: -352px -96px;
}

.iti-flag.la {
    background-position: -256px -224px;
}

.iti-flag.kz {
    background-position: -224px -224px;
}

.iti-flag.tg {
    background-position: 0 -416px;
}

.iti-flag.ms {
    background-position: -64px -288px;
}

.iti-flag.pg {
    background-position: -320px -320px;
}

.iti-flag.tf {
    background-position: -480px -384px;
}

.iti-flag.gd {
    background-position: -320px -128px;
}

.iti-flag.ai {
    background-position: -128px 0;
}

.iti-flag.bg {
    background-position: -160px -32px;
}

.iti-flag.so {
    background-position: -192px -384px;
}

.iti-flag.sh {
    background-position: 0 -384px;
}

.iti-flag.bn {
    background-position: -352px -32px;
}

.iti-flag.sv {
    background-position: -320px -384px;
}

.iti-flag.bh {
    background-position: -192px -32px;
}

.iti-flag.td {
    background-position: -448px -384px;
}

.iti-flag.tm {
    background-position: -160px -416px;
}

.iti-flag.mm {
    background-position: -384px -256px;
}

.iti-flag.kp {
    background-position: -96px -224px;
}

.iti-flag.bd {
    background-position: -64px -32px;
}

.iti-flag.ro {
    background-position: -192px -352px;
}

.iti-flag.af {
    background-position: -64px 0;
}

.iti-flag.hu {
    background-position: -448px -160px;
}

.iti-flag.se {
    background-position: -448px -352px;
}

.iti-flag.hk {
    background-position: -320px -160px;
}

.iti-flag.dj {
    background-position: -160px -96px;
}

.iti-flag.mo {
    background-position: -448px -256px;
}

.iti-flag.ky {
    background-position: -192px -224px;
}

.iti-flag.ng {
    background-position: -448px -288px;
}

.iti-flag.ss {
    background-position: -256px -384px;
}

.iti-flag.my {
    background-position: -256px -288px;
}

.iti-flag.je {
    background-position: -288px -192px;
}

.iti-flag.cf {
    background-position: -160px -64px;
}

.iti-flag.lk {
    background-position: -384px -224px;
}

.iti-flag.ni {
    background-position: -480px -288px;
}

.iti-flag.gp {
    background-position: -64px -160px;
}

.iti-flag.ua {
    background-position: -416px -416px;
}

.iti-flag.lb {
    background-position: -288px -224px;
}

.iti-flag.gq {
    background-position: -96px -160px;
}

.iti-flag.vu {
    background-position: -256px -448px;
}

.iti-flag.pe {
    background-position: -256px -320px;
}

.iti-flag.eh {
    background-position: -416px -96px;
}

.iti-flag.sg {
    background-position: -480px -352px;
}

.iti-flag.de {
    background-position: -128px -96px;
}

.iti-flag.ax {
    background-position: -448px 0;
}

.iti-flag.an {
    background-position: -224px 0;
}

.iti-flag.np {
    background-position: -64px -320px;
}

.iti-flag.mu {
    background-position: -128px -288px;
}

.iti-flag.jm {
    background-position: -320px -192px;
}

.iti-flag.pr {
    background-position: -480px -320px;
}

.iti-flag.tv {
    background-position: -320px -416px;
}

.iti-flag.am {
    background-position: -192px 0;
}

.iti-flag.au {
    background-position: -384px 0;
}

.iti-flag.sd {
    background-position: -416px -352px;
}

.iti-flag.sn {
    background-position: -160px -384px;
}

.iti-flag.ie {
    background-position: -32px -192px;
}

.iti-flag.mn {
    background-position: -416px -256px;
}

.iti-flag.by {
    background-position: -32px -64px;
}

.iti-flag.pa {
    background-position: -224px -320px;
}

.iti-flag.mc {
    background-position: -128px -256px;
}

.iti-flag.ps {
    background-position: 0 -352px;
}

.iti-flag.az {
    background-position: -480px 0;
}

.iti-flag.mf {
    background-position: -224px -256px;
}

.iti-flag.no {
    background-position: -32px -320px;
}

.iti-flag.nz {
    background-position: -160px -320px;
}

.iti-flag.ao {
    background-position: -256px 0;
}

.iti-flag.gm {
    background-position: 0 -160px;
}

.iti-flag.ve {
    background-position: -128px -448px;
}

.iti-flag.va {
    background-position: -64px -448px;
}

.iti-flag.pw {
    background-position: -64px -352px;
}

.iti-flag.bj {
    background-position: -256px -32px;
}

.iti-flag.ru {
    background-position: -256px -352px;
}

.iti-flag.sr {
    background-position: -224px -384px;
}

.iti-flag.hr {
    background-position: -384px -160px;
}

.iti-flag.nr {
    background-position: -96px -320px;
}

.iti-flag.ug {
    background-position: -448px -416px;
}

.iti-flag.ht {
    background-position: -416px -160px;
}

.iti-flag.li {
    background-position: -352px -224px;
}

.iti-flag.il {
    background-position: -64px -192px;
}

.iti-flag.zw {
    background-position: -480px -448px;
}

.iti-flag.ph {
    background-position: -352px -320px;
}

.iti-flag.sy {
    background-position: -352px -384px;
}

.iti-flag.gg {
    background-position: -384px -128px;
}

.iti-flag.tk {
    background-position: -96px -416px;
}

.iti-flag.vi {
    background-position: -192px -448px;
}

.iti-flag.tj {
    background-position: -64px -416px;
}

.iti-flag.tr {
    background-position: -256px -416px;
}

.iti-flag.gw {
    background-position: -256px -160px;
}

.iti-flag.mk {
    background-position: -320px -256px;
}

.iti-flag.uy {
    background-position: 0 -448px;
}

.iti-flag.lt {
    background-position: -480px -224px;
}

.iti-flag.mg {
    background-position: -256px -256px;
}

.iti-flag.rs {
    background-position: -224px -352px;
}

.iti-flag.ca {
    background-position: -96px -64px;
}

.iti-flag.gs {
    background-position: -160px -160px;
}

.iti-flag.lr {
    background-position: -416px -224px;
}

.iti-flag.es {
    background-position: -480px -96px;
}

.iti-flag.lc {
    background-position: -320px -224px;
}

.iti-flag.ws {
    background-position: -320px -448px;
}

.iti-flag.yt {
    background-position: -384px -448px;
}

.iti-flag.aw {
    background-position: -416px 0;
}

.iti-flag.bo {
    background-position: -384px -32px;
}

.iti-flag.cv {
    background-position: 0 -96px;
}

.iti-flag.ag {
    background-position: -96px 0;
}

.iti-flag.fo {
    background-position: -192px -128px;
}

.iti-flag.ls {
    background-position: -448px -224px;
}

.iti-flag.kr {
    background-position: -128px -224px;
}

.iti-flag.pl {
    background-position: -416px -320px;
}

.iti-flag.md {
    background-position: -160px -256px;
}

.iti-flag.ae {
    background-position: -32px 0;
}

.iti-flag.nc {
    background-position: -352px -288px;
}

.iti-flag.gb {
    background-position: -288px -128px;
}

.iti-flag.za {
    background-position: -416px -448px;
}

.iti-flag.is {
    background-position: -224px -192px;
}

.iti-flag.nu {
    background-position: -128px -320px;
}

.iti-flag.ga {
    background-position: -256px -128px;
}

.iti-flag.bs {
    background-position: -448px -32px;
}

.iti-flag.uz {
    background-position: -32px -448px;
}

.iti-flag.bi {
    background-position: -224px -32px;
}

.iti-flag.mw {
    background-position: -192px -288px;
}

.iti-flag.vn {
    background-position: -224px -448px;
}

.iti-flag.zm {
    background-position: -448px -448px;
}

.iti-flag.as {
    background-position: -320px 0;
}

.iti-flag.st {
    background-position: -288px -384px;
}

.iti-flag.kh {
    background-position: -480px -192px;
}

.iti-flag.fj {
    background-position: -96px -128px;
}

.iti-flag.lv {
    background-position: -32px -256px;
}

.iti-flag.it {
    background-position: -256px -192px;
}

.iti-flag.fm {
    background-position: -160px -128px;
}

.iti-flag.bz {
    background-position: -64px -64px;
}

.iti-flag.na {
    background-position: -320px -288px;
}

.iti-flag.cd {
    background-position: -128px -64px;
}

.iti-flag.cl {
    background-position: -320px -64px;
}

.iti-flag.cm {
    background-position: -352px -64px;
}

.iti-flag.co {
    background-position: -416px -64px;
}

.iti-flag.sk {
    background-position: -64px -384px;
}

.iti-flag.al {
    background-position: -160px 0;
}

.iti-flag.ba {
    background-position: 0 -32px;
}

.iti-flag.bt {
    background-position: -480px -32px;
}

.iti-flag.cu {
    background-position: -480px -64px;
}

.iti-flag.fk {
    background-position: -128px -128px;
}

.iti-flag.mv {
    background-position: -160px -288px;
}

.iti-flag.ly {
    background-position: -64px -256px;
}

.iti-flag.ma {
    background-position: -96px -256px;
}

.iti-flag.ki {
    background-position: 0 -224px;
}

.iti-flag.bl {
    background-position: -288px -32px;
}

.iti-flag.re {
    background-position: -160px -352px;
}

.iti-flag.mh {
    background-position: -288px -256px;
}

.iti-flag.ci {
    background-position: -256px -64px;
}

.iti-flag.ad {
    background-position: 0 0;
}

.iti-flag.hn {
    background-position: -352px -160px;
}

.iti-flag.pt {
    background-position: -32px -352px;
}

.iti-flag.jo {
    background-position: -352px -192px;
}

.iti-flag.ck {
    background-position: -288px -64px;
}

.iti-flag.tl {
    background-position: -128px -416px;
}

.iti-flag.in {
    background-position: -128px -192px;
}

.iti-flag.sm {
    background-position: -128px -384px;
}

.iti-flag.cy {
    background-position: -64px -96px;
}

.iti-flag.gi {
    background-position: -448px -128px;
}

.iti-flag.kw {
    background-position: -160px -224px;
}

.iti-flag.mq {
    background-position: 0 -288px;
}

.iti-flag.mz {
    background-position: -288px -288px;
}

.iti-flag.id {
    background-position: 0 -192px;
}

.iti-flag.gl {
    background-position: -480px -128px;
}

.iti-flag.gu {
    background-position: -224px -160px;
}

.iti-flag.ch {
    background-position: -224px -64px;
}

.iti-flag.dk {
    background-position: -192px -96px;
}

.iti-flag.ar {
    background-position: -288px 0;
}

.iti-flag.gh {
    background-position: -416px -128px;
}

.iti-flag.me {
    background-position: -192px -256px;
}

.iti-flag.bw {
    background-position: 0 -64px;
}

.iti-flag.kg {
    background-position: -448px -192px;
}

.iti-flag.nl {
    background-position: 0 -320px;
}

.iti-flag.km {
    background-position: -32px -224px;
}

.iti-flag.nf {
    background-position: -416px -288px;
}

.iti-flag.er {
    background-position: -448px -96px;
}

.iti-flag.mr {
    background-position: -32px -288px;
}

.iti-flag.cg {
    background-position: -192px -64px;
}

.iti-flag.cw {
    background-position: -32px -96px;
}

.iti-flag.iq {
    background-position: -160px -192px;
}

.iti-flag.gr {
    background-position: -128px -160px;
}

.iti-flag.ml {
    background-position: -352px -256px;
}

.iti-flag.tt {
    background-position: -288px -416px;
}

.iti-flag.gn {
    background-position: -32px -160px;
}

.iti-flag.bb {
    background-position: -32px -32px;
}

.iti-flag.eg {
    background-position: -384px -96px;
}

.iti-flag.ic {
    background-position: -480px -160px;
}

/**
 * Variables declared here can be overridden by consuming applications, with
 * the help of the `!default` flag.
 *
 * @example
 *     // overriding $hoverColor
 *     $hoverColor: rgba(red, 0.05);
 *
 *     // overriding image path
 *     $flagsImagePath: "images/";
 *
 *     // import the scss file after the overrides
 *     @import "bower_component/intl-tel-input/src/css/intlTelInput";
 */
.intl-tel-input {
  position: relative;
  display: inline-block; }
  .intl-tel-input * {
    box-sizing: border-box;
    -moz-box-sizing: border-box; }
  .intl-tel-input .hide {
    display: none; }
  .intl-tel-input .v-hide {
    visibility: hidden; }
  .intl-tel-input input, .intl-tel-input input[type=text], .intl-tel-input input[type=tel] {
    position: relative;
    z-index: 0;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-right: 36px;
    margin-right: 0; }
  .intl-tel-input .flag-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 1px; }
  .intl-tel-input .selected-flag {
    z-index: 1;
    position: relative;
    width: 52px;
    height: 100%;
    padding: 0 0 0 8px; }
    .intl-tel-input .selected-flag .iti-flag {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto; }
    .intl-tel-input .selected-flag .iti-arrow {
      position: absolute;
      top: 50%;
      margin-top: -2px;
      right: 6px;
      width: 0;
      height: 0;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      border-top: 4px solid #555; }
      .intl-tel-input .selected-flag .iti-arrow.up {
        border-top: none;
        border-bottom: 4px solid #555; }
  .intl-tel-input .country-list {
	max-width: 433px;	
    position: absolute;
    z-index: 2;
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0 0 0 -1px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    background-color: white;
    border: 1px solid #CCC;
    white-space: nowrap;
    max-height: 200px;
    overflow-y: scroll; }
    .intl-tel-input .country-list.dropup {
      bottom: 100%;
      margin-bottom: -1px; }
    .intl-tel-input .country-list .flag-box {
      display: inline-block;
      width: 20px; }
    @media (max-width: 500px) {
      .intl-tel-input .country-list {
        white-space: normal; } }
    .intl-tel-input .country-list .divider {
      padding-bottom: 5px;
      margin-bottom: 5px;
      border-bottom: 1px solid #CCC; }
    .intl-tel-input .country-list .country {
      padding: 5px 10px; }
      .intl-tel-input .country-list .country .dial-code {
        color: #999; }
    .intl-tel-input .country-list .country.highlight {
      background-color: rgba(0, 0, 0, 0.05); }
    .intl-tel-input .country-list .flag-box, .intl-tel-input .country-list .country-name, .intl-tel-input .country-list .dial-code {
      vertical-align: middle; }
    .intl-tel-input .country-list .flag-box, .intl-tel-input .country-list .country-name {
      margin-right: 20px; }
  .intl-tel-input.allow-dropdown input, .intl-tel-input.allow-dropdown input[type=text], .intl-tel-input.allow-dropdown input[type=tel], .intl-tel-input.separate-dial-code input, .intl-tel-input.separate-dial-code input[type=text], .intl-tel-input.separate-dial-code input[type=tel] {
    padding-right: 6px;
    padding-left: 52px;
    margin-left: 0; }
  .intl-tel-input.allow-dropdown .flag-container, .intl-tel-input.separate-dial-code .flag-container {
    right: auto;
    left: 0; }
  .intl-tel-input.allow-dropdown .selected-flag, .intl-tel-input.separate-dial-code .selected-flag {
    width: 54px; }
  .intl-tel-input.allow-dropdown .flag-container:hover {
    cursor: pointer; }
    .intl-tel-input.allow-dropdown .flag-container:hover .selected-flag {
      background-color: rgba(0, 0, 0, 0.05); }
  .intl-tel-input.allow-dropdown input[disabled] + .flag-container:hover, .intl-tel-input.allow-dropdown input[readonly] + .flag-container:hover {
    cursor: default; }
    .intl-tel-input.allow-dropdown input[disabled] + .flag-container:hover .selected-flag, .intl-tel-input.allow-dropdown input[readonly] + .flag-container:hover .selected-flag {
      background-color: transparent; }
  .intl-tel-input.separate-dial-code .selected-flag {
    background-color: rgba(0, 0, 0, 0.05);
    display: table; }
  .intl-tel-input.separate-dial-code .selected-dial-code {
    display: table-cell;
    vertical-align: middle;
    padding-left: 28px; }
  .intl-tel-input.separate-dial-code.iti-sdc-2 input, .intl-tel-input.separate-dial-code.iti-sdc-2 input[type=text], .intl-tel-input.separate-dial-code.iti-sdc-2 input[type=tel] {
    padding-left: 66px; }
  .intl-tel-input.separate-dial-code.iti-sdc-2 .selected-flag {
    width: 60px; }
  .intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-2 input, .intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-2 input[type=text], .intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-2 input[type=tel] {
    padding-left: 76px; }
  .intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-2 .selected-flag {
    width: 70px; }
  .intl-tel-input.separate-dial-code.iti-sdc-3 input, .intl-tel-input.separate-dial-code.iti-sdc-3 input[type=text], .intl-tel-input.separate-dial-code.iti-sdc-3 input[type=tel] {
    padding-left: 74px; }
  .intl-tel-input.separate-dial-code.iti-sdc-3 .selected-flag {
    width: 68px; }
  .intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-3 input, .intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-3 input[type=text], .intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-3 input[type=tel] {
    padding-left: 84px; }
  .intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-3 .selected-flag {
    width: 78px; }
  .intl-tel-input.separate-dial-code.iti-sdc-4 input, .intl-tel-input.separate-dial-code.iti-sdc-4 input[type=text], .intl-tel-input.separate-dial-code.iti-sdc-4 input[type=tel] {
    padding-left: 82px; }
  .intl-tel-input.separate-dial-code.iti-sdc-4 .selected-flag {
    width: 76px; }
  .intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-4 input, .intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-4 input[type=text], .intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-4 input[type=tel] {
    padding-left: 92px; }
  .intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-4 .selected-flag {
    width: 86px; }
  .intl-tel-input.separate-dial-code.iti-sdc-5 input, .intl-tel-input.separate-dial-code.iti-sdc-5 input[type=text], .intl-tel-input.separate-dial-code.iti-sdc-5 input[type=tel] {
    padding-left: 90px; }
  .intl-tel-input.separate-dial-code.iti-sdc-5 .selected-flag {
    width: 84px; }
  .intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-5 input, .intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-5 input[type=text], .intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-5 input[type=tel] {
    padding-left: 100px; }
  .intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-5 .selected-flag {
    width: 94px; }
  .intl-tel-input.iti-container {
    position: absolute;
    top: -1000px;
    left: -1000px;
    z-index: 1060;
    padding: 1px; }
    .intl-tel-input.iti-container:hover {
      cursor: pointer; }

.iti-mobile .intl-tel-input.iti-container {
  top: 30px;
  bottom: 30px;
  left: 30px;
  right: 30px;
  position: fixed; }

.iti-mobile .intl-tel-input .country-list {
  max-height: 100%;
  width: 100%; }
  .iti-mobile .intl-tel-input .country-list .country {
    padding: 10px 10px;
    line-height: 1.5em; }


.iti-flag.np {
  background-color: transparent; }
