@import "funcs.less";

@base-color: 	#014898;
@gray-color:	#b9b9b9;	
@yellow-button:	#fab900;
@light-gray:	#ddd;
@white-color:	#fff;

@text-gray:		#030303;
@text-dark:		#424242;

@screen-xs-max: 767px;
@screen-sm-min: 768px;
@screen-sm-max: 991px;
@screen-md-min: 992px;
@screen-md-max: 1199px;
@screen-lg-min: 1200px;


body {
	background: @base-color;
	background-image: url('../images/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}

.modal {
	text-align: center;
	padding: 0!important;
  
	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -4px;
	}
	.modal-content {
		.border-radius(4px);
	}
	.modal-dialog {
		display: inline-block;
		text-align: left;
		vertical-align: middle;
	}
	.modal-content {
		padding: 15px;
	}
	.modal-footer {
		border: none;
		> button {
			background-color: @yellow-button;
			border: none;
			.border-radius(2px);
			width: 200px;
			padding: 10px 0 10px 0;
			font-size: 12px;
			color: @text-gray;
			font-weight: bold;
		}
	}
}

.dropArea {
	width: 100%;
	display: table;	
	min-height: 360px;
	padding: 20px;
	margin-top: 4px;
	border: 2px dashed @gray-color;
	.border-radius(5px);
	border-image-source: url("../images/dashed.png");
	border-image-slice: 1;
	border-image-repeat: round;
	
	&:after {
		border-radius: 16px;
	}
	.content {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		
		.icon {
			font-size: 50px;
			color: @base-color;
		}
		> p {
			margin-top: 10px;
			color: @text-dark;
			> b {
				color: @base-color;
			}
		}
	}	 
}

.popup-content {
	.header {
		> h2 {
			margin: 0;
			padding: 0;
			font-size: 18pt;
			display: inline-block;
			color: @text-gray;
		}
		> ul {
			float: right;
			display: inline-block;
			list-style: none;
			
			> li {
				&.badge {
					&.active {
						background-color: @base-color;
						color: @white-color;
					}
					background-color: @light-gray;
					color: @gray-color;
					font-size: 10px;
					.border-radius(50%);
					padding: 3px 5px;					
				}	
				margin-left: 4px;
			}			
		}
	}
	@media (max-width: @screen-md-max) {
		.header {
			margin-top: 10px;
		}
	}
	> p {
		&.information {
			font-size: 12px;
			margin-top: 20px;
		}
	}
	.personal-form {
		margin-top: 45px;
		
		label {
			> small {
				font-weight: normal;
				font-size: 10px;
			}	
			padding: 0;
			margin: 0;
			font-size: 12px;
		}		
		.input-group {
			display: block;			
			
			.form-control {
				.border-radius(0px);
				padding: 0;
			}
			input:focus {
				outline:none;
			}
			> input, select {				
				border-top: 0;
				border-left: 0;
				border-right: 0;
				border-color: @gray-color;
				.box-shadow(none);	
				font-size: 12px;
				height: 31px;
				margin-bottom: 20px;
				width: 100%;
				
			}
			> select {
				font-size: 18px;
			}
			#phone {
				border: none;
				width: 100%;
				text-indent: 5px;
			}
		}
		.phone-prefixes {
			padding-bottom: 5px;
			border-bottom: 1px solid @gray-color;
			.iti-arrow {
				border-top: 4px solid @base-color;
			}
		}
		p {
		
			&.verified {
				margin-top: 10px;
				font-size: 12px;
			}
		}
	}
}

